

/***********************
 * Essential Structure *
 ***********************/
.flexsearch{margin:0 auto;} 
body{ text-align:center} 
.flexsearch--wrapper {
	height: auto;
	width: auto;
	max-width: 100%;
	overflow: hidden;
	background: transparent;
	margin: 0 auto;
	position: static;
}
	
.flexsearch--form {
	overflow: hidden;
	position: relative;
}
	
.flexsearch--input-wrapper {
	padding: 0 66px 0 0; /* Right padding for submit button width */
	overflow: hidden;
}

.flexsearch--input {
  width: 100%;
}

/***********************
 * Configurable Styles *
 ***********************/
.flexsearch {
  padding: 0 25px 0 200px; /* Padding for other horizontal elements */
}

.flexsearch--input {
  -webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
 	height: 60px;
  padding: 0 46px 0 10px;
	border-color: #888;
  border-radius: 35px; /* (height/2) + border-width */
  border-style: solid;
	border-width: 5px;
  margin-top: 15px;
  color: #333;
  font-family: 'Helvetica', sans-serif;
	font-size: 26px;
	-webkit-appearance: none;
	-moz-appearance: none;
}
	
.flexsearch--submit {
  position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 60px;
	height: 60px;
  padding: 0;
  border: none;
	margin-top: 20px; /* margin-top + border-width */
  margin-right: 5px; /* border-width */
	background: transparent;
  color: #888;
  font-family: 'Helvetica', sans-serif;
  font-size: 40px;
  line-height: 60px;
}

.flexsearch--input:focus {
  outline: none;
  border-color: #333;
}

.flexsearch--input:focus.flexsearch--submit {
 	color: #333; 
}

.flexsearch--submit:hover {
  color: #333;
  cursor: pointer;
}

::-webkit-input-placeholder {
	color: #888;  
}

input:-moz-placeholder {
  color: #888
}


/****************
 * Pretify demo *
 ****************/
.h1 {
  float: left;
  margin: 25px;
  color: #333;
  font-family: 'Helvetica', sans-serif;
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  text-align: center;
}


/*
 * 
 * 
 */
/*!
 * LABELAUTY jQuery Plugin Styles
 *
 * @file: jquery-labelauty.css
 * @author: Francisco Neves (@fntneves)
 * @site: www.francisconeves.com
 * @license: MIT License
 */

/* Prevent text and blocks selection */
input.labelauty + label ::selection { background-color: rgba(255, 255, 255, 0); }
input.labelauty + label ::-moz-selection { background-color: rgba(255, 255, 255, 0); }

/* Hide original checkboxes. They are ugly! */
input.labelauty { display: none !important; }

/*
 * Let's style the input
 * Feel free to work with it as you wish!
 */
input.labelauty + label
{
	display: table;
	font-size: 11px;
	padding: 10px;
	background-color: #efefef;
	color: #b3b3b3;
	cursor: pointer;

	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;


	transition: background-color 0.25s;
	-moz-transition: background-color 0.25s;
	-webkit-transition: background-color 0.25s;
	-o-transition: background-color 0.25s;

	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

/* Stylish text inside label */

input.labelauty + label > span.labelauty-unchecked,
input.labelauty + label > span.labelauty-checked
{
	display: inline-block;
	line-height: 16px;
	vertical-align: bottom;
}

/* Stylish icons inside label */

input.labelauty + label > span.labelauty-unchecked-image,
input.labelauty + label > span.labelauty-checked-image
{
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: bottom;
	background-repeat: no-repeat;
	background-position: left center;

	transition: background-image 0.5s linear;
	-moz-transition: background-image 0.5s linear;
	-webkit-transition: background-image 0.5s linear;
	-o-transition: background-image 0.5s linear;
}

/* When there's a label, add a little margin to the left */
input.labelauty + label > span.labelauty-unchecked-image + span.labelauty-unchecked,
input.labelauty + label > span.labelauty-checked-image + span.labelauty-checked
{
	margin-left: 7px;
}

/* When not Checked */
input.labelauty:not(:checked):not([disabled]) + label:hover
{
	background-color: #eaeaea;
	color: #a7a7a7;
}
input.labelauty:not(:checked) + label > span.labelauty-checked-image
{
	display: none;
}

input.labelauty:not(:checked) + label > span.labelauty-checked
{
	display: none;
}

/* When Checked */
input.labelauty:checked + label
{
	background-color: #3498db;
	color: #ffffff;
}

input.labelauty:checked:not([disabled]) + label:hover
{
	background-color: #72c5fd;
}
input.labelauty:checked + label > span.labelauty-unchecked-image
{
	display: none;
}

input.labelauty:checked + label > span.labelauty-unchecked
{
	display: none;
}

input.labelauty:checked + label > span.labelauty-checked
{
	display: inline-block;
}

input.labelauty.no-label:checked + label > span.labelauty-checked
{
	display: block;
}

/* When Disabled */
input.labelauty[disabled] + label
{
	opacity: 0.5;
}

/* Add a background to (un)checked images */
input.labelauty + label > span.labelauty-unchecked-image
{
	background-image: url( ../img/input-unchecked.png );
}

input.labelauty + label > span.labelauty-checked-image
{
	background-image: url( ../img/input-checked.png );
}